*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c7c5c1;
}

header{
    background-color: #7b6f7e;
    
}

.titulo{
    color: rgb(213, 229, 241);
    text-shadow: 3px 3px #000;
    font-size: 5em;
    padding-top: 0.5rem;
    text-align: center;
}




/*menu orden*/
nav{
    background-color: #e9ec22;
}


nav ul li{
    display: inline-block;
}

nav ul{
    list-style: none;
   
}

nav ul li{
    display: inline-block;
    width: 19.7%;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 16px;
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a:hover{
    background-color: #dee06a/*rgb(94, 94, 247)*/;
    color: rgb(185, 53, 53);
    font-size: 22px;
    padding: 13.5px;
}

/*ordenando cuadro de datos personales*/
#datos_container{
    width: 33%;
    background-color: rgb(168, 142, 142);
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 2rem ;
    display: inline-block;
    vertical-align: top;
    
}

#datos_container h3{
    text-align: center;
    padding-top: 1.6rem;
    font-size: 2em;
}

aside#datos_container p{
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#datos_container p span{
    font-weight: bold;
}

/*ordenando cuadro de guias descripcion*/
#descri_container{
    
    width: 60%;
    margin-left: 2%;
    display: inline-block;
    border-radius: 15px;
    margin: 2%;
    vertical-align: top;
}

#descri_container .tarjetas{
    width: 45%;
    background-color: #6bd6f3;
    display: inline-block;
    padding: 0px 5px 5px 5px;
    margin: 0em 1% 1.5rem 2%;
}

#descri_container .tarjetas h3{
    color: #000;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#descri_container .tarjetas p{
    color: rgb(75, 70, 70);
    padding-bottom: 0.5rem;
    margin: 5px;
    text-align: center;
}

/*footer*/
.footer p{
    margin-top: 3.7rem;
    color: #1D1D1D;
    background-color: #C7B198;
    width: 100wv;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px #FFF;
}
